<!-- <p>login works!</p> -->

<div class="container">
    <div class="cardArea">
        <mat-card>
            <form class="loginForm" [formGroup]="profileForm">
                <h1>Login</h1>
                <mat-form-field class="inputField">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter email" formControlName="email">
                </mat-form-field>

                <mat-form-field class="inputField">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Enter Password" formControlName="password" >
                </mat-form-field>

                <div class="submitOptions">
                    <button mat-raised-button class="submitButton" color="primary" (click)="onLogin()">Login</button>
                    <!-- <mat-checkbox>Remember me!</mat-checkbox> -->
                </div>
            </form>
        </mat-card>
        <div class="otherLinks">
            <a routerLink="/forgotPassword">Forgot Password?</a>
            <a routerLink="/register">Create an Account</a>
        </div>
    </div>
</div>