<div class="container">
    <div class="cardArea">
        <mat-card>
            <form class="loginForm" [formGroup]="profileForm">
                <h1>Login</h1>
                <mat-form-field class="inputField">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter email" formControlName="email">
                </mat-form-field>

                <mat-form-field class="inputField">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Enter Password" formControlName="password">
                </mat-form-field>

                <div class="submitOptions">
                    <!-- this is the right idea but not 100% correct -->
                    <!-- <div *ngIf="!this.loggedIn"> 
                        <button mat-raised-button class="submitButton" color="primary" [disabled]="profileForm.invalid" (click)="onLogin()">Login</button>
                    </div>
                    
                    <div *ngIf="this.loggedIn">
                        <button mat-raised-button class="submitButton" color="primary" (click)="onLogout()">Logout</button>
                    </div> -->
                    <button mat-raised-button class="submitButton" color="primary" [disabled]="profileForm.invalid"(click)="onLogin()">Login</button>
                    <button mat-raised-button class="submitButton" color="primary" (click)="onLogout()">Logout</button>
                </div>
            </form>
        </mat-card>

    </div>
</div>