p {
    color: pink;
}

.vertDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    
    h2 {
        color: pink;
    }

    .dailyWinnerDiv {
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        flex-grow: 1;
        border-radius: 15px;
        align-items:center;
    }

    .dailyLoserDiv {
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        flex-grow: 1;
        border-radius: 15px;
        align-items:center;
    }

    .weeklyWinnerDiv {
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        flex-grow: 1;
        border-radius: 15px;
        align-items:center;
    }

    .weeklyLoserDiv {
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        flex-grow: 1;
        border-radius: 15px;
        align-items:center;
    }

}

table {
    width: 100%;
    height: 100%;

    td {
        padding: 10px;
        text-align: center;
    }

    th {
        padding: 10px;
        text-align: center;
    }
}