<div class="vertDiv">
    <div class="dailyWinnerDiv">
        <h2>Daily Winners</h2>
        <table mat-table [dataSource]="dailyWinners" class="mat-elevation-z8">
          
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Stock </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>
          
            <ng-container matColumnDef="logo_url">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element"> <img class="ticker-pic" [src]="element.logo_url" /> </td>
            </ng-container>

            <ng-container matColumnDef="daily_change">
                <th mat-header-cell *matHeaderCellDef>Daily Change</th>
                <td mat-cell *matCellDef="let element"> {{element.chg * 100 | number}}% </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="dailyColumn; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: dailyColumn;"></tr>
          </table>
    </div>
    <div class="dailyLoserDiv">
        <h2>Daily Losers</h2>
        <table mat-table [dataSource]="dailyLosers" class="mat-elevation-z8">
          
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Stock </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>
        
          <ng-container matColumnDef="logo_url">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> <img class="ticker-pic" [src]="element.logo_url" /> </td>
          </ng-container>

          <ng-container matColumnDef="daily_change">
              <th mat-header-cell *matHeaderCellDef>Daily Change</th>
              <td mat-cell *matCellDef="let element"> {{element.chg * 100 | number}}% </td>
            </ng-container>

          <tr mat-header-row *matHeaderRowDef="dailyColumn; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: dailyColumn;"></tr>
        </table>
    </div>
</div>
<div class="vertDiv">
    <div class="weeklyWinnerDiv">
        <h2>Weekly Winners</h2>
        
    </div>
    <div class="weeklyLoserDiv">
        <h2>Weekly Losers</h2>
        
    </div>
</div>
    
