<div class="container">
  <div class="data-container">

    <div class="content-container">
      <div class="list-container">
        <h2>Daily Winners</h2>
        <table mat-table [dataSource]="dailyWinners" class="mat-elevation-z8">

          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Stock </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>

          <ng-container matColumnDef="logo_url">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> <img class="ticker-pic" [src]="element.logo_url" /> </td>
          </ng-container>

          <ng-container matColumnDef="daily_change">
            <th mat-header-cell *matHeaderCellDef>Daily Change</th>
            <td mat-cell *matCellDef="let element"> {{element.chg * 100 | number}}% </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="dailyColumn; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: dailyColumn;"></tr>
        </table>
      </div>
    </div>
    <div class="content-container">
      <div class="list-container">
        <h2>Daily Losers</h2>
        <table mat-table [dataSource]="dailyLosers" class="mat-elevation-z8">

          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Stock </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>

          <ng-container matColumnDef="logo_url">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> <img class="ticker-pic" [src]="element.logo_url" /> </td>
          </ng-container>

          <ng-container matColumnDef="daily_change">
            <th mat-header-cell *matHeaderCellDef>Daily Change</th>
            <td mat-cell *matCellDef="let element"> {{element.chg * 100 | number}}% </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="dailyColumn; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: dailyColumn;"></tr>
        </table>
      </div>
    </div>


  </div>

  <div class="data-container">

    <div class="content-container">
      <div class="list-container">
        <h2>Weekly Winners</h2>
      </div>
    </div>

    <div class="content-container">
      <div class="list-container">
        <h2>Weekly Losers</h2>
      </div>
    </div>


  </div>

</div>

<div class="container">
  <div class="data-container">
    <div class="content-container">
      <h2>Bens Magical Writing</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nullam non nisi est sit. Mi sit amet mauris commodo. Iaculis eu non diam phasellus vestibulum lorem. Amet commodo nulla facilisi nullam vehicula ipsum a arcu. Urna molestie at elementum eu facilisis sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Est ante in nibh mauris cursus mattis molestie a iaculis. Risus at ultrices mi tempus. Iaculis nunc sed augue lacus viverra vitae congue. Nisi est sit amet facilisis magna etiam tempor orci eu. Non sodales neque sodales ut etiam sit amet. Non diam phasellus vestibulum lorem. Laoreet non curabitur gravida arcu ac. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Fusce id velit ut tortor pretium viverra. Duis convallis convallis tellus id interdum velit laoreet id. Pulvinar pellentesque habitant morbi tristique senectus et netus et malesuada.

Turpis massa sed elementum tempus egestas sed sed. Turpis egestas sed tempus urna et pharetra pharetra massa massa. Lobortis scelerisque fermentum dui faucibus in. Cras adipiscing enim eu turpis egestas pretium. Velit euismod in pellentesque massa placerat duis. Lobortis mattis aliquam faucibus purus in massa tempor. Aliquet nibh praesent tristique magna sit. Morbi tincidunt augue interdum velit euismod in pellentesque massa. Cras sed felis eget velit aliquet. A diam sollicitudin tempor id eu nisl nunc mi ipsum. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare. Et netus et malesuada fames. Risus pretium quam vulputate dignissim suspendisse in est. Vitae tortor condimentum lacinia quis vel eros. Diam ut venenatis tellus in metus vulputate eu scelerisque felis. Dis parturient montes nascetur ridiculus. Nulla malesuada pellentesque elit eget gravida cum sociis.

Vulputate dignissim suspendisse in est ante in nibh mauris cursus. In vitae turpis massa sed elementum tempus. Tristique sollicitudin nibh sit amet commodo nulla. Neque convallis a cras semper. Morbi tristique senectus et netus et. Ante in nibh mauris cursus mattis molestie. Aliquet eget sit amet tellus cras. Sodales ut etiam sit amet nisl purus. Vitae tempus quam pellentesque nec nam. Mi quis hendrerit dolor magna eget est lorem. Lacus sed turpis tincidunt id aliquet risus feugiat in. Ultrices gravida dictum fusce ut placerat orci nulla.

Vitae turpis massa sed elementum tempus. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus et. Elit ullamcorper dignissim cras tincidunt lobortis feugiat. Amet mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan. Id cursus metus aliquam eleifend mi. Ut sem viverra aliquet eget. Porta nibh venenatis cras sed felis eget velit. Felis imperdiet proin fermentum leo vel. Maecenas volutpat blandit aliquam etiam erat velit scelerisque. Fringilla ut morbi tincidunt augue interdum velit euismod in pellentesque. Magna etiam tempor orci eu lobortis elementum nibh tellus molestie. Nibh tellus molestie nunc non blandit massa enim. Nulla aliquet enim tortor at. Tempor nec feugiat nisl pretium fusce id velit. Duis convallis convallis tellus id interdum.

Diam sit amet nisl suscipit adipiscing bibendum est ultricies. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Diam quam nulla porttitor massa id neque aliquam. A lacus vestibulum sed arcu. Orci a scelerisque purus semper eget. Venenatis a condimentum vitae sapien. Ipsum suspendisse ultrices gravida dictum fusce ut. Rhoncus dolor purus non enim praesent elementum facilisis leo vel. Sed felis eget velit aliquet. Volutpat ac tincidunt vitae semper quis lectus nulla. Nibh venenatis cras sed felis eget velit aliquet. Molestie at elementum eu facilisis sed odio morbi quis commodo. Elit pellentesque habitant morbi tristique senectus et netus. Sem integer vitae justo eget magna fermentum. Lorem mollis aliquam ut porttitor leo a diam sollicitudin. Ut aliquam purus sit amet luctus venenatis lectus magna. Eros donec ac odio tempor.
      </p>
    </div>
  </div>

</div>