<div class="dashboard-container">
    <!-- for our own sake, i am disabling resizing of widgets, creates less work, doesn't impact functionality -->
    <ejs-dashboardlayout  [columns]='5' [cellSpacing]='cellSpacing' [mediaQuery]='mediaQuery' [allowResizing]='false'>
        
        <e-panels>

            <e-panel [sizeX]="1" [sizeY]="2" [row]="0" [col]="0">
                <ng-template #content>
                    <div class="widget-container">
                        <app-portfolio-holdings></app-portfolio-holdings>
                    </div>
                </ng-template>
            </e-panel>

            <e-panel [sizeX]="1" [sizeY]="1" [row]="1" [col]="1">
                <ng-template #content>
                    <div class="widget-container">
                        <app-add-transaction></app-add-transaction>
                    </div>
                </ng-template>
            </e-panel>

            <e-panel [sizeX]="1" [sizeY]="1" [row]="2" [col]="1">
                <ng-template #content>
                    <div class="widget-container">
                       <app-watchlist></app-watchlist>
                    </div>
                </ng-template>
            </e-panel>

            <e-panel [sizeX]="1" [sizeY]="1" [row]="3" [col]="0">
                <ng-template #content>
                    <div class="widget-container">
                       <app-market-news></app-market-news>
                    </div>
                </ng-template>
            </e-panel>

            <e-panel [sizeX]="2" [sizeY]="1" [row]="1" [col]="2">
                <ng-template #content>
                    <div class="widget-container">
                       <app-portfolio-chart class="custom-chart"></app-portfolio-chart>
                    </div>
                </ng-template>
            </e-panel>

            <e-panel [sizeX]="2" [sizeY]="1" [row]="2" [col]="2">
                <ng-template #content>
                    <div class="widget-container">
                       <app-sector-chart class="custom-chart"></app-sector-chart>
                    </div>
                </ng-template>
            </e-panel>
            
            <e-panel [sizeX]="3" [sizeY]="1" [row]="3" [col]="1">
                <ng-template #content>
                    <div class="widget-container">
                       <app-prediction-chart class="custom-chart"></app-prediction-chart>
                    </div>
                </ng-template>
            </e-panel>

        </e-panels>

    </ejs-dashboardlayout>
</div>