$custom-pink: #b4256c; // Chaotic Roses
$custom-middle-pink: #c51866;
$custom-bright-pink: #db075f; // Magna Cum Laude
$github-black-pearl: #23272e;
$onyx: #424242;

.dashboard-container {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .e-dashboardlayout.e-control .e-panel {
        background-color: $custom-pink;
        border-radius: 25px;
        border: none;

        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
        .widget-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            // Portfolio Holdings Widget
            .holdings {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                overflow: auto;
                border-radius: 25px;
                background-color: $onyx;

                .container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .header-container {
                        width: 100%;
                        height: 10%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 25px;
                        background-color: $onyx;
                        color: white;
                    }

                    .table-container {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        overflow: auto;
                        border-radius: 25px;
                    }
                }
            }

            // Transaction Widget
            .transaction {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                border-radius: 25px;
                color: white;
                background-color: $onyx;

                .container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .header-container {
                        width: 100%;
                        height: 10%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 25px;
                        background-color: $onyx;
                        color: white;
                        flex-grow: 1;
                    }

                    .form-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        flex-grow: 3;
    
                        form {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                        }
                    }
    
                    .button-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        flex-grow: 1;
                    }
                }

                
            }

            // Watchlist Widget
            .watchlist {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                overflow: auto;
                border-radius: 25px;
                gap: 2%;

                .container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    background-color: $onyx; // doing this makes it "appear" to all be one thing, idk but this is just a UI decision

                    .header-container {
                        width: 100%;
                        height: 10%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 15px;
                        background-color: $onyx;
                        color: white;
                    }

                    .table-container {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        overflow: auto;
                        border-radius: 25px;
    
                        button {
                            width: 100%;
                            height: 100%;
                            outline: none;
                            border: none;
                            padding: 5px;
                            background-color: $custom-pink;
                            color: white;
                            border-radius: 25px;
                            justify-content: center;
    
                            &:hover {
                                background-color: $custom-bright-pink;
                            }
                        }
    
                        .remove-btn {
                            background: none;
                            font-size: 14px;
    
                            &:hover {
                                background-color: $custom-bright-pink;
                            }
    
                            .remove::before {
                                content: "\e7e9";
                            }
    
                            span.e-icons {
                                color: #c0c2c5;
                                line-height: 2;
                            }
                        }
    
                        .stock-btn {
                            width: 100%;
                            height: 100%;
                            font-size: 14px;
                            background-color: $onyx;
                            border: none;
                            padding: 0 !important;
                            cursor: pointer;
    
                            &:hover {
                                background-color: $custom-bright-pink;
                            }
                        }
                    }
    
                    .submit-form-container {
                        width: 95%;
                        border-radius: 25px;
                        display: flex;
                        flex-direction: row;
                        color: white;
                        background-color: $onyx;
    
                        .custom-form {
                            flex-grow: 2;
                            margin: auto;
                        }
    
                        .custom-button {
                            flex-grow: 1;
                            margin: auto;
                            font-size: 14px;
                        }
                    }
                }

                
            }

            // Chart Widgets
            .chart-widget {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                background-color: $onyx;
                border-radius: 25px;

                .container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .widget-header {
                        width: 100%;
                        height: 10%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 25px;
                        background-color: $onyx;
                        color: white;

                        .header {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            // margin-top: 20px;

                            .title {
                                display: flex;
                                font-size: 14px;
                                flex-grow: 3;
                                justify-content: center;
                                margin: auto;
                            }

                            // .button-container {
                            //     width: 65%;
                            //     display: flex;
                            //     flex-direction: row;
                            //     justify-content: space-between;
                            //     align-items: center;
                            //     flex-grow: 1;
                            //     margin: auto;

                            //     button {
                            //         display: flex;
                            //         justify-content: space-evenly;
                            //         width: 10%;
                            //         height: 100%;
                            //     }
                            // }


                        }

                    }

                    .chart-container {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
    
    
                        .custom-chart {
                            display: flex;
                            flex-direction: column;
                            width: 90%;
                            height: 90%;
                            margin: auto;
                            color: white;
    
                            // border: 1px solid white;
                        }

                        .submit-form-container {
                            width: 95%;
                            border-radius: 25px;
                            display: flex;
                            flex-direction: row;
                            color: white;
                            // background-color: $onyx;
        
                            .custom-form {
                                flex-grow: 2;
                                margin: auto;
                            }
        
                            .custom-button {
                                flex-grow: 1;
                                margin: auto;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            .news {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                border-radius: 25px;
                color: white;
                background-color: $onyx;

                .info-container {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    overflow: auto;

                    padding-left: 25px;
                    padding-right: 25px;
                    padding-bottom: 25px;

                    .header-container {
                        display: flex;
                        margin: auto;

                        h2 {
                            text-align: center;
                        }
                    }

                    .content-container {
                        display: flex;
                        flex-direction: row;
                        // flex-grow: 1;

                        .content {
                            display: flex;
                            flex-direction: column;
                            flex-grow: 1;
                            font-size: larger;
                            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
                                sans-serif;

                            a {
                                color: white;
                            }
                        }
                    }
                }
            }

            .gov-info {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                border-radius: 25px;
                background-color: $onyx;

                .gov-container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .widget-title {
                        width: 100%;
                        height: 10%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        border-radius: 25px;
                        background-color: $onyx;
                        color: white;
                        
                        .header {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            margin-top: 20px;

                            .title {
                                display: flex;
                                font-size: 12px;
                                flex-grow: 3;
                                justify-content: center;
                                margin: auto;
                            }

                            .date-form-container {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-around;
                                align-items: center;
                                flex-grow: 1;
                                margin: auto;
                            }


                        }

                        

                    }

                    .table-container {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        overflow: auto;
                        border-radius: 25px;
                    }
                }
                

                button {
                    width: 100%;
                    height: 100%;
                    outline: none;
                    border: none;
                    padding: 5px;
                    background-color: $custom-pink;
                    color: white;
                    border-radius: 25px;
                    justify-content: center;

                    &:hover {
                        background-color: $custom-bright-pink;
                    }
                }

                .stock-btn {
                    width: 100%;
                    height: 100%;
                    font-size: 14px;
                    background-color: $onyx;
                    border: none;
                    padding: 0 !important;
                    cursor: pointer;

                    &:hover {
                        background-color: $custom-bright-pink;
                    }
                }
            }
        }

        mat-form-field {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 75%;
            margin: auto;

            input {
                box-sizing: border-box;
                outline: none;
                border: none;
                line-height: 2;
            }
        }

        table {
            width: 100%;
            height: 100%;

            td {
                padding: 10px;
                text-align: center;
            }

            th {
                padding: 10px;
                text-align: center;
            }
        }

        .custom-button {
            outline: none;
            border: none;
            background-color: $custom-pink;
            color: white;
            border-radius: 25px;

            &:hover {
                background-color: $custom-bright-pink;
            }
        }
    }
}
