$custom-pink: #b4256c; // Chaotic Roses
$custom-middle-pink: #c51866;
$custom-bright-pink: #db075f; // Magna Cum Laude
$github-black-pearl: #23272e;
$onyx: #424242; // Onyx Black (mat-table)

.watchlist {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

table {
    width: 100%;

    td {
        padding: 10px;
        text-align: center;
    }

    th {
        padding: 10px;
        text-align: center;
    }
}

.watchlist-container {
    height: 90%;
    overflow: auto;
    width: 100%;
    display: flex;
    border-radius: 25px;
}

button {
    font-size: 10px;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 5px;
    background-color: $custom-pink;
    color: white;
    border-radius: 25px;
    justify-content: center;

    &:hover {
        background-color: $custom-bright-pink;
    }
}

form {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.stock-btn {
    width: 100%;
    height: 100%;
    font-size: 14px;
    // background: none !important;
    background-color: $onyx;
    border: none;
    padding: 0 !important;

    // text-decoration: underline;
    cursor: pointer;

    &:hover {
        background-color: $custom-bright-pink;
    }
}
  