<input type="symbol" [(ngModel)]="symbol">
<button (click)="clickEvent()">Add to Watchlist</button>

<div class="watchlistContainer">
  <table>
    <tr>
      <th></th>
      <th>Symbol</th>
      <th>Current Value</th>
    </tr>

    <tr *ngFor="let watch of watchlist">
      <td><img class="my-img" src={{watch.logo_url}}></td>
      <td>{{watch.symbol}}</td>
      <td>{{watch.current_value}}</td>
      <td><button (click)="removeFromWatchlist(watch.symbol)">Remove</button></td>
    </tr>
  </table>
</div>