<form [formGroup]="form" (ngSubmit)="submit()">

    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Stock</mat-label>
        <input matInput placeholder="AAPL, TSLA, MSFT, etc." formControlName="stock">
    </mat-form-field>
    
    <button mat-raised-button color="accent">Submit</button>
</form>


<ejs-stockchart id="chart-container" >
    <e-stockchart-series-collection>
        <e-stockchart-series [dataSource]='stockchartData' type='Candle' xName='date' High='high' Low='low' Open='open' Close ='close' Name='Apple'></e-stockchart-series>
    </e-stockchart-series-collection>
</ejs-stockchart>
