$custom-pink: #b4256c;          // Chaotic Roses 
$custom-middle-pink: #c51866;
$custom-bright-pink: #db075f;   // Magna Cum Laude

$github-black-pearl: #23272e;
$onyx: #424242;

.stock-info-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;


    .header {
        display: flex;
        flex-direction: row;
        gap: 25px;
        // margin: auto; centers perfectly

        .img-container {

            align-self: center;
            
            .stock-pic {
                width: 60;
                height: 60px;
            }
        }
        
        .title-container {
            // color: $custom-bright-pink;
        }
    }

    .chart-container {
        // display: flex;
        // flex-direction: column;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        
        .stock-chart {
            width: 100%;
            height: 95%;
            margin: auto;

        }
    }

    .container {
        display: flex;
        flex-direction: row;
        gap: 50px;
        max-height: 30%;
        // margin: auto; centers perfectly

        
        .container-container {
            background-color: $github-black-pearl;
            border-radius: 25px;
            display: flex;
            flex-grow: 1;
            width: 50%;
            justify-content: space-around;

            .info-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow: auto;
                
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 25px;
                
                .header-container
                {
                    display: flex;
                    margin: auto;
                    
                    h2 {
                        text-align: center;
                    }
                }
                
                .content-container {
                    display: flex;
                    flex-direction: row;
                    // flex-grow: 1;

                    .content {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;

                        a {
                            color: white;
                        }

                    }
                }
                
            }
        
            .news-container {
                border: 1px solid #ccc;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow: auto;
            }
        }

        
    }


}
