<mat-toolbar color="primary" class="navbar">
    <div>SCK</div>
    <div>
        <a mat-button [routerLink]="['home']" routerLinkActive="active"><span>Home</span></a>
        <a mat-button [routerLink]="['login']" routerLinkActive="active"><span>Login</span></a>
        <a mat-button [routerLink]="['register']" routerLinkActive="active"><span>Register</span></a>
        <a mat-button [routerLink]="['profile']" routerLinkActive="active"><span>Profile</span></a>
        <a mat-button [routerLink]="['logout']" routerLinkActive="active"><span>Logout</span></a>
    </div>
</mat-toolbar>