<ul class="navbar-items" id="unorderedList">
    <span class="navbar-items">
        <li>
            <a mat-button [routerLink]="['home']" routerLinkActive="active">Home</a>
        </li>
        <li>
            <a mat-button [routerLink]="['login']" routerLinkActive="active">Login</a>
        </li>
        <li>
            <a mat-button [routerLink]="['register']" routerLinkActive="active">Register</a>
        </li>
        <li>
            <a mat-button [routerLink]="['profile']" routerLinkActive="active">Dashboard</a>
        </li>
        <li>
            <a mat-button [routerLink]="['logout']" routerLinkActive="active">Logout</a>
        </li>
    </span>
    <span>
        <li class="navbar-items has-dropdown">
            <a mat-button class="navbar-items" href="javascript:void(0)">Theme</a>
            <ul class="dropdown">
                <li class="dropdown-item">
                    <a id="light" href="javascript:void(0)">Light</a>
                </li>
                <li class="dropdown-item">
                    <a id="dark" href="javascript:void(0)">Dark</a>
                </li>
            </ul>
        </li>
    </span>

   
</ul>
