.container {
    display: flex;   
    justify-content: center;
    background-color: #23272e;
    padding: 25px;
    padding-right:200px;
    padding-top:50px;
}

.description {
    padding-top:25px
}

h1 {
    color: #b4256c;
}

