<div class="chart-container">
    <ejs-stockchart class="custom-chart" [enableSelector]='false' [enableCustomRange]="false"
        [enablePeriodSelector]="false">
        <e-stockchart-series-collection>
            <e-stockchart-series [dataSource]='stockChartData' type='Line' xName='x' yName='y' width=2>
            </e-stockchart-series>
        </e-stockchart-series-collection>
    </ejs-stockchart>
</div>

<!-- [tooltip]='tooltip' (tooltipRender)='tooltipRender($event)' (axisLabelRender)='axisLabelRender($event)' -->
<!-- (load)='load($event)' -->

<!-- [enableSelector]='true' [enableCustomRange]="false"
        [enablePeriodSelector]="false" (load)='load($event)' -->