<!-- <ejs-stockchart id="chart-container">
    <e-stockchart-series-collection>
        <e-stockchart-series [dataSource]='stockChartData' type='Line' xName='date' yName='close' Name='Portfolio'></e-stockchart-series>
    </e-stockchart-series-collection>
</ejs-stockchart> -->

<ejs-chart id="chart-container" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' 
    [tooltip]='tooltip' (load)='load($event)'><e-series-collection>

        <e-series [dataSource]='stockChartData' type='Line' xName='x' yName='y' name='My Portfolio' [marker]='marker' width=2></e-series>
    </e-series-collection>
</ejs-chart>
