@import '../../custom-styles.scss';

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: $custom-light-grey;
}

.full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

mat-card {
    margin: 40px;
}

.submitButton {
    margin-top: 20px;
    background-color: $custom-dark-pink;
    color: $custom-lighter-grey
}

::ng-deep .mat-focused .mat-form-field-label {
    color: $custom-pink !important;
}

::ng-deep .mat-form-field-ripple {
    background-color: $custom-dark-pink !important;
}

.otherLinks {
    margin: 0.7em 0.3em 0 0.3em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: $custom-dark-pink;
}