<div class="auth-container">

    <form [formGroup]="registerForm">

        <mat-form-field class="full-width" [floatLabel]="'never'">
            <input matInput placeholder="First Name" formControlName="firstName">
        </mat-form-field>

        <mat-form-field class="full-width" [floatLabel]="'never'">
            <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>

        <p>
            <mat-form-field class="full-width" [floatLabel]="'never'">
                <mat-label>Email Address</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" placeholder="user@example.com"
                    [(ngModel)]="email">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address.
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>.
                </mat-error>
            </mat-form-field>
        </p>

        <mat-form-field class="full-width" [floatLabel]="'never'">
            <input matInput type="password" placeholder="Password" formControlName="password1"
                (input)="onPasswordInput()" [(ngModel)]="password">
            <mat-error *ngIf="password1?.hasError('required')">
                Password is <strong>required</strong>.
            </mat-error>
            <mat-error *ngIf="password1?.hasError('minlength')">
                Password must have at least {{minPwLength}} characters.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" [floatLabel]="'never'">
            <input matInput type="password" placeholder="Confirm Password" formControlName="password2"
                (input)="onPasswordInput()">
            <mat-error *ngIf="password2?.hasError('required')">
                Please confirm your password.
            </mat-error>
            <mat-error *ngIf="password2?.invalid && !password2?.hasError('required')">
                Password do not match.
            </mat-error>
        </mat-form-field>

        <button mat-raised-button class="submitButton" color="primary"
            [disabled]="registerForm.invalid || emailFormControl.invalid" (click)="onRegister()">Sign Up</button>
    </form>

</div>