.holdings-container{
    height: 100%;
    width: 100%;
    display: flex;
    overflow: auto;
    border-radius: 25px;

    table {
        // padding: 15px;

        td {
            padding: 10px;
            text-align: center;
        }
    
        th {
            padding: 10px;
            text-align: center;
        }
    }

    
}
