/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }

body { margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text);
    background: var(--bg);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

:root {
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --custom-pink: #ff006a;
    --custom-dark-pink: #db075f;
    --custom-lighter-grey: #EEEEEE;
    --custom-light-grey: #DDDDDD;
}

.light{
    --bg: var(--gray0);
    --bg-dropdown: var(--gray0);
    --text: var(--gray6);
    --border-color: var(--custom-dark-pink);
}

.dark{
    --bg: var(--gray5);
    --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
    --bg-dropdown: var(--gray6);
    --text: var(--gray0);
    --border-color: var(--purple);
}


@import '~@angular/material/theming';