// /* You can add global styles to this file, and also import other style files */

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";

@import "../node_modules/@syncfusion/ej2-angular-layouts/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-navigations/styles/material.css";

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

// Creating my color palette
$custom-pink: #b4256c; // Chaotic Roses
$custom-middle-pink: #c51866;
$custom-bright-pink: #db075f; // Magna Cum Laude

$github-black-pearl: #23272e;

body {
    font-family: "Trebuchet MS";
    background-color: $github-black-pearl;
    margin: 0;
}

// Styling for login/register modals
.auth-container {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: none;

    form {
        width: 100%;
        height: 100%;
        padding: 1em 1em;
        background-color: $github-black-pearl;
        border-radius: 25px;
    }

    input {
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: none;
        line-height: 2;
    }

    button {
        font-size: 18px;
        width: 100%;
        outline: none;
        border: none;
        padding: 15px;
        margin-top: 20px;
        margin-right: 1em;
        background-color: $custom-pink;
        color: white;
        border-radius: 25px;

        &:hover {
            background-color: $custom-bright-pink;
        }
    }

    a {
        text-decoration: none;
        color: $custom-pink;
    }

    mat-form-field {
        width: 100%;
        outline: none;
        border: none;
        padding: 5px;
        margin-top: 10px;
        margin-right: 1em;
    }
}

.ticker-pic {
    width: 30px;
    height: 30px;
    border-radius: 75%;
}

// support for most browsers
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin order($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

.wrapper {
    @include flexbox();
}

.item {
    @include flex(1 200px);
    @include order(2);
}